body {
    background-color: rgb(234, 90, 90);
  }
  
  h1 {
      font-family: 'Open Sans', sans-serif;
      background-color: #f2f2f2;
      font-size: 16px;
      color: #222;
      font-weight: normal;
      letter-spacing: 0.03em;
    }

  h2 {
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
  }

  h3 {
    color:rgb(255, 255, 255);
    text-align: center;
  }
  
  p {
    color:antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  img {
    display: block;
    block-size: auto;
    margin-left: auto;
    margin-right: auto;
  }
